{#
/**
 * @file
 * Theme override to display a view of unformatted rows for News Lists (Block 1 - Featured).
 *
 * WP 2294: View templates for news-lists
 *
 * Features:
 * - Video/image priority
 * - 150px thumbnails
 * - Truncated content (1000 chars)
 * - Continue reading button (color: #00ADEE)
 * - Float thumbnails left
 * - Border separators
 */
#}
{% if title %}
  <h3 class="view-title" style="font-size: 1.5em;">{{ title }}</h3>
{% endif %}

<div class="view-news-lists view-display-id-block-1 featured-news">
  {% for key, row in rows %}
    {% set row_classes = [
      default_row_class ? 'views-row',
      'featured-item',
      'd-block',
      'clearfix',
      'mb-4',
      'pb-4',
      loop.last ? '' : 'border-bottom',
    ] %}
    <div{{ row.attributes.addClass(row_classes) }}>
      {{- row.content -}}
    </div>
  {% endfor %}
</div>

{% if pager %}
  <div class="view-pager mt-4">{{ pager }}</div>
{% endif %}

{% if more %}
  <div class="view-more mt-3">{{ more }}</div>
{% endif %}

{% if footer %}
  <footer class="view-footer mt-4 pt-3 border-top">{{ footer }}</footer>
{% endif %}
