{#
/**
 * @file
 * Header/Navigation component for Escalade Sports D7 recreation.
 *
 * D7 Requirements:
 * - Blue header background (#0A4C97)
 * - White logo filter for contrast
 * - Site name hidden
 * - Header region positioning
 *
 * Variables:
 * - site_logo: Path to logo file
 * - site_name: Site name (hidden by CSS)
 * - site_slogan: Site slogan
 * - menu_bar: Navigation block
 * - is_front: Whether on front page
 */
#}

<div class="header-branding clearfix">
  
  {# Logo and Site Name (name hidden) #}
  <div id="branding" class="fl">
    
    {# Logo with white filter for contrast on blue background #}
    {% if site_logo %}
      <div id="logo">
        <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
          <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" class="site-logo">
        </a>
      </div>
    {% endif %}
    
    {# Site Name and Slogan Container (site name hidden in CSS) #}
    <div id="name-and-slogan">
      {% if site_name %}
        <h1 id="site-name">
          <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
        </h1>
      {% endif %}
      {% if site_slogan %}
        <p id="site-slogan">{{ site_slogan }}</p>
      {% endif %}
    </div>
    
  </div>

  {# Header Region - Additional header blocks #}
  {% if page.header %}
    <div class="header-blocks">
      {{ page.header }}
    </div>
  {% endif %}

</div>
