{#
/**
 * @file
 * Header/Navigation component template.
 *
 * Variables:
 * - site_logo: Path to logo file
 * - site_name: Site name
 * - site_slogan: Site slogan/tagline
 * - header_links: Array of quick links for header
 * - is_front: Whether on front page
 */
#}

<div class="header-branding d-flex align-items-center justify-content-between py-3">
  {# Logo and Site Name #}
  <div class="branding-left d-flex align-items-center">
    {% if site_logo %}
      <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="site-logo d-block">
        <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" class="img-fluid" style="max-height: 60px;">
      </a>
    {% endif %}
    
    <div class="site-branding-text ms-3">
      {% if site_name %}
        <div class="site-name h4 mb-0">
          <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="text-decoration-none">
            {{ site_name }}
          </a>
        </div>
      {% endif %}
      {% if site_slogan %}
        <div class="site-slogan text-muted small">{{ site_slogan }}</div>
      {% endif %}
    </div>
  </div>

  {# Header Actions / Quick Links #}
  <div class="branding-right d-flex align-items-center gap-3">
    
    {# Search Toggle #}
    <button class="btn btn-outline-secondary btn-sm search-toggle" type="button" 
            data-bs-toggle="collapse" data-bs-target="#headerSearch" 
            aria-expanded="false" aria-label="{{ 'Search'|t }}">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
        <path d="M11.742 2.344a6.5 6.5 0 1 0-1.397 1.398h-.001l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85zm-5.442.656a5.5 5.5 0 1 1 0 11 5.5 5.5 0 0 1 0-11z"/>
      </svg>
    </button>

    {# User Account / Login #}
    {% if logged_in %}
      <div class="dropdown">
        <button class="btn btn-outline-primary btn-sm dropdown-toggle" type="button" 
                data-bs-toggle="dropdown" aria-expanded="false">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle me-1" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
          </svg>
          {{ user.getDisplayName }}
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
          <li><a class="dropdown-item" href="{{ path('user.page') }}">{{ 'My Account'|t }}</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="{{ path('user.logout') }}">{{ 'Log Out'|t }}</a></li>
        </ul>
      </div>
    {% else %}
      <a href="{{ path('user.login') }}" class="btn btn-outline-primary btn-sm">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person me-1" viewBox="0 0 16 16">
          <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
        </svg>
        {{ 'Log In'|t }}
      </a>
    {% endif %}

    {# Mobile Menu Toggle #}
    <button class="navbar-toggler d-lg-none btn btn-outline-secondary btn-sm" type="button" 
            data-bs-toggle="offcanvas" data-bs-target="#mainNavigation" 
            aria-controls="mainNavigation" aria-label="{{ 'Toggle navigation'|t }}">
      <span class="navbar-toggler-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg>
      </span>
    </button>
  </div>
</div>

{# Search Form (Collapsible) #}
<div class="collapse" id="headerSearch">
  <div class="search-wrapper py-2 border-bottom">
    <div class="container">
      {{ drupal_block('search_form_block') }}
    </div>
  </div>
</div>
