{#
/**
 * @file
 * Navigation/Menu Bar component for Escalade Sports D7 recreation.
 *
 * D7 Requirements:
 * - Menu positioned below header
 * - White links on blue background
 * - Hover state: #24B8F0
 * - Responsive behavior
 *
 * Variables:
 * - page.menu_bar: Main navigation menu blocks
 * - main_menu: Main menu links
 * - secondary_menu: Secondary menu links
 */
#}

{% if page.menu_bar %}
  <nav id="main-menu" role="navigation" class="clearfix">
    <div class="menu-bar-inner clearfix">
      {{ page.menu_bar }}
    </div>
  </nav>
{% endif %}

{# Render main menu if available as variable #}
{% if main_menu is defined and main_menu is not empty %}
  <nav id="main-menu" role="navigation" class="clearfix">
    <div class="menu-bar-inner clearfix">
      <ul class="menu">
        {% for item in main_menu %}
          <li class="menu-item {{ item.in_active_trail ? 'active' : '' }} {{ item.is_expanded ? 'expanded' : '' }}">
            <a href="{{ item.url }}"{% if item.is_active %} class="is-active"{% endif %}>
              {{ item.title }}
            </a>
            {% if item.below %}
              <ul class="sub-menu">
                {% for subitem in item.below %}
                  <li class="sub-menu-item">
                    <a href="{{ subitem.url }}">{{ subitem.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </nav>
{% endif %}
