{#
/**
 * @file
 * Escalade Sports D7 page template recreation for D11.
 *
 * Variables:
 * - page.header: Header region for branding
 * - page.menu_bar: Main navigation menu
 * - page.under_header: Banner/slider area
 * - page.content: Main content
 * - page.sidebar_first: Left sidebar
 * - page.sidebar_second: Right sidebar
 * - page.above_footer: Above footer content
 * - page.footer: Full footer
 * - page.footer_left: Left footer column
 * - page.footer_right: Right footer column
 * - is_front: Whether this is the front page
 * - page['#title']: Page title
 */
#}

<div class="texture-overlay">
  <div id="page" class="container clearfix">

    {# Skip Navigation Link for Accessibility #}
    <a href="#main-content" class="visually-hidden-focusable skip-link">
      {{ 'Skip to main content'|t }}
    </a>

    {# HEADER SECTION #}
    {% if page.header or page.menu_bar or page.under_header %}
      <header id="header" role="banner">
        <div class="header-inner clearfix">
          
          {# Branding #}
          {% include '@escalade_sports/templates/components/header.html.twig' %}
          
          {# Header Blocks Region #}
          {% if page.header %}
            <div id="header-region">
              {{ page.header }}
            </div>
          {% endif %}
        </div>
        
        {# Menu Bar #}
        {% if page.menu_bar %}
          <div id="menu-bar" class="clearfix" role="navigation">
            {{ page.menu_bar }}
          </div>
        {% endif %}
        
        {# Under Header (Banner) #}
        {% if page.under_header %}
          <div id="page-banner" class="clearfix">
            {{ page.under_header }}
          </div>
        {% endif %}
      </header>
    {% endif %}

    {# MAIN COLUMNS SECTION - Holy Grail Layout #}
    <div id="columns" class="clearfix">
      
      {# Sidebar First - Left (25% width) #}
      {% if page.sidebar_first %}
        <aside id="sidebar-first" class="sidebar" role="complementary">
          <div class="sidebar-inner">
            {{ page.sidebar_first }}
          </div>
        </aside>
      {% endif %}

      {# Content Column #}
      <div id="content-column" class="{% if page.sidebar_first and page.sidebar_second %}three-col{% elseif page.sidebar_first %}two-col-left{% elseif page.sidebar_second %}two-col-right{% else %}one-col{% endif %}">
        
        {# Highlighted / Status Messages #}
        {% if page.highlighted %}
          <div id="highlighted" class="clearfix">
            {{ page.highlighted }}
          </div>
        {% endif %}

        {# Breadcrumbs #}
        {% if page.breadcrumb %}
          <div id="breadcrumbs" class="clearfix">
            {{ page.breadcrumb }}
          </div>
        {% endif %}

        {# Main Content Wrapper #}
        <main id="main-content" role="main">
          <a id="main-content-anchor" tabindex="-1"></a>
          
          <article class="clearfix">
            
            {# Page Title (unless hidden on front) #}
            {% if not is_front and page['#title'] %}
              <header class="content-header">
                <h1 class="page-title">{{ page['#title'] }}</h1>
              </header>
            {% endif %}

            {# Action Links #}
            {% if page.action_links %}
              <div id="action-links" class="clearfix">
                {{ page.action_links }}
              </div>
            {% endif %}

            {# Local Tasks (Tabs) #}
            {% if page.tabs %}
              <div id="local-tasks" class="clearfix">
                {{ page.tabs }}
              </div>
            {% endif %}

            {# Help #}
            {% if page.help %}
              <div id="help" class="clearfix">
                {{ page.help }}
              </div>
            {% endif %}

            {# Messages #}
            {{ page.messages }}

            {# Main Content Area #}
            <div class="content">
              {{ page.content }}
            </div>

          </article>
        </main>
      </div>

      {# Sidebar Second - Right (25% width) #}
      {% if page.sidebar_second %}
        <aside id="sidebar-second" class="sidebar" role="complementary">
          <div class="sidebar-inner">
            {{ page.sidebar_second }}
          </div>
        </aside>
      {% endif %}

    </div>{# /#columns #}

    {# ABOVE FOOTER #}
    {% if page.above_footer %}
      <div id="above-footer" class="clearfix">
        {{ page.above_footer }}
      </div>
    {% endif %}

    {# FOOTER SECTION #}
    {% if page.footer or page.footer_left or page.footer_right %}
      <footer id="footer" role="contentinfo">
        <div id="footer-inner" class="clearfix">
          
          {# Footer Blocks #}
          {% if page.footer %}
            <div id="footer-full" class="clearfix">
              {{ page.footer }}
            </div>
          {% endif %}

          {# Footer Columns #}
          {% if page.footer_left or page.footer_right %}
            <div id="footer-columns" class="clearfix">
              {% if page.footer_left %}
                <div id="footer-left">
                  {{ page.footer_left }}
                </div>
              {% endif %}
              {% if page.footer_right %}
                <div id="footer-right">
                  {{ page.footer_right }}
                </div>
              {% endif %}
            </div>
          {% endif %}

          {# Copyright attribution #}
          <p class="attribute-creator">&copy; {{ 'now'|date('Y') }} Escalade Sports. All Rights Reserved.</p>
        </div>
      </footer>
    {% endif %}

  </div>{# /#page.container #}
</div>{# /.texture-overlay #}
