{#
/**
 * @file
 * Escalade Sports D7 homepage template recreation for D11.
 *
 * This template implements the D7 5-region homepage layout:
 * - Top Row: home_top_left, home_top_mid, home_top_right (3 columns, 33% each)
 * - Bottom Row: home_bottom_left, home_bottom_right (2 columns, 50% each)
 * - Container: 75% width centered
 *
 * Variables:
 * - page.header: Header region for branding
 * - page.menu_bar: Main navigation menu
 * - page.under_header: Banner area
 * - page.home_top_left: Top left region
 * - page.home_top_mid: Top center region
 * - page.home_top_right: Top right region  
 * - page.home_bottom_left: Bottom left region
 * - page.home_bottom_right: Bottom right region
 * - content: Main content (hidden on front)
 */
#}

<div class="texture-overlay">
  <div id="page" class="container clearfix">

    {# Skip Navigation Link #}
    <a href="#main-content" class="visually-hidden-focusable skip-link">
      {{ 'Skip to main content'|t }}
    </a>

    {# HEADER SECTION #}
    {% if page.header or page.menu_bar or page.under_header %}
      <header id="header" role="banner">
        <div class="header-inner clearfix">
          {% include '@escalade_sports/templates/components/header.html.twig' %}
          {% if page.header %}
            <div id="header-region">
              {{ page.header }}
            </div>
          {% endif %}
        </div>
        
        {% if page.menu_bar %}
          <div id="menu-bar" class="clearfix" role="navigation">
            {{ page.menu_bar }}
          </div>
        {% endif %}
        
        {% if page.under_header %}
          <div id="page-banner" class="clearfix">
            {{ page.under_header }}
          </div>
        {% endif %}
      </header>
    {% endif %}

    {# HOMEPAGE CONTENT SECTION #}
    <main id="main-content" class="homepage-main" role="main">
      <a id="main-content-anchor" tabindex="-1"></a>

      {# HOMEPAGE REGIONS - 5 Region Layout from D7 #}
      {% if page.home_top_left or page.home_top_mid or page.home_top_right or page.home_bottom_left or page.home_bottom_right %}
        
        <div id="home-content" class="clearfix">
          
          {# TOP ROW: 3 Regions (33% each) #}
          {% if page.home_top_left or page.home_top_mid or page.home_top_right %}
            <div id="home-top" class="clearfix">
              
              {# Home Top Left #}
              {% if page.home_top_left %}
                <div id="home-top-left" class="home-region home-top-left">
                  {{ page.home_top_left }}
                </div>
              {% endif %}
              
              {# Home Top Center #}
              {% if page.home_top_mid %}
                <div id="home-top-center" class="home-region home-top-center">
                  {{ page.home_top_mid }}
                </div>
              {% endif %}
              
              {# Home Top Right #}
              {% if page.home_top_right %}
                <div id="home-top-right" class="home-region home-top-right">
                  {{ page.home_top_right }}
                </div>
              {% endif %}
              
            </div>
          {% endif %}

          {# BOTTOM ROW: 2 Regions (50% each) #}
          {% if page.home_bottom_left or page.home_bottom_right %}
            <div id="home-bottom" class="clearfix">
              
              {# Home Bottom Left #}
              {% if page.home_bottom_left %}
                <div id="home-bottom-left" class="home-region home-bottom-left">
                  {{ page.home_bottom_left }}
                </div>
              {% endif %}
              
              {# Home Bottom Right #}
              {% if page.home_bottom_right %}
                <div id="home-bottom-right" class="home-region home-bottom-right">
                  {{ page.home_bottom_right }}
                </div>
              {% endif %}
              
            </div>
          {% endif %}

        </div>{# /#home-content #}

      {% endif %}

      {# MAIN CONTENT - HIDDEN ON FRONT PAGE (as per D7) #}
      <section id="main-content-area" class="visually-hidden" aria-hidden="true">
        {{ page.content }}
      </section>

    </main>

    {# ABOVE FOOTER #}
    {% if page.above_footer %}
      <div id="above-footer" class="clearfix">
        {{ page.above_footer }}
      </div>
    {% endif %}

    {# FOOTER #}
    {% if page.footer or page.footer_left or page.footer_right %}
      <footer id="footer" role="contentinfo">
        <div id="footer-inner" class="clearfix">
          
          {% if page.footer %}
            <div id="footer-full" class="clearfix">
              {{ page.footer }}
            </div>
          {% endif %}

          {% if page.footer_left or page.footer_right %}
            <div id="footer-columns" class="clearfix">
              {% if page.footer_left %}
                <div id="footer-left">
                  {{ page.footer_left }}
                </div>
              {% endif %}
              {% if page.footer_right %}
                <div id="footer-right">
                  {{ page.footer_right }}
                </div>
              {% endif %}
            </div>
          {% endif %}

          <p class="attribute-creator">&copy; {{ 'now'|date('Y') }} Escalade Sports. All Rights Reserved.</p>
        </div>
      </footer>
    {% endif %}

  </div>
</div>
